
div > .miComponente{
    background-color: black;
    color: white;
}

.miComponente{
    background-color: black;
    color: white;
}

#primerCom{
    background-color: yellow;
    color:red;
}

.styleClaseComp{
    background-color: purple;
    color:black;
}